<!DOCTYPE html>
<html lang="en">
<style>
  body{
    background-color:rgb(59, 58, 58);
    font-size: x-large;
    color:beige
}
.temp
{
    
 text-align :center;
 
}
#id2
{
    margin-top: 180px;
}
</style>
<head>
    <title>Password generator</title>
    <link rel="stylesheet" href="style.css"/>
    
    <h2 class="temp" id="id2">Password generator</h2>
</head>
<body>
</body>
<div class="temp" >
<form>
   
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" ><br>
    <label for="lname" >Last name:</label><br>
    <input type="text" id="lname"  name="lname"><br>
    <label for="Input ">Enter password length</label><br>
    <input type="number" id ="num" name="Input"><br>
  </form>
</div>
</html>